body{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;

}

button{
    width: 190px;
    height: 40px;
    background-color: black;
    border-radius: 6px;
    padding: 12px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    border: solid;
}

button:hover{
    background-color: white;
    color: black;
    border-color: white;
}

.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: black;
    word-spacing: 40px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}

.catalogo{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 600px;
    background-color: black;
}


.item-anime {
    background-color: #212121;
    padding: 10px; 
    border: white;
    margin: 10px;
    text-align: center; 
    border: solid 2px white;
    border-radius: 6px;
    height: 260px;
}


.capa-anime {
    width: 100%; 
    height: 240px; 
    border-radius: 4px; 
    margin-bottom: 8px; 
}


.titulo-anime {
    color: white; 
    font-size: 14px; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 5px; 
}

.anime-imagem {
    width: 100%;
    height: 100%;
    display: block;
}